# Test Files #
log_tim
log_qq
log_wx

libs/

# Release Files #
release/
*.apk


# IDEA Project files #
*.iws
*.iml
*.ipr
.idea/
captures/

# Build directory #
build/

# Local props file #
local.properties

# Gradle cache #
.gradle
gradle.properties

# OSX files #
.DS_Store
